<html>
<h1>Mapping the News</h1>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Setting the style for my calendar page -->
    <style>
    body {
        font: 400 15px/1.8 Lato, sans-serif;
        color: #777;
    }
    ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    li {
    float: left;
    border-right:1px solid #bbb;
    }
    li:last-child {
    border-right: none;
    }
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    li a:hover:not(.active) {
    background-color: #B5D3E7;
    }

    .active {
        background-color: #89cff0;
    }
    .thumbnail {
        padding: 0 0 30px 0;
        border: none;
        border-radius: 0;
        bottom: 100;
        right: 0;
        width: 300px;
    }
    .thumbnail p {
        margin-top: 15px;
        color: #555;
    }
    .btn {
        padding: 10px 20px;
        background-color: #333;
        color: #f1f1f1;
        border-radius: 0;
        transition: .2s;
    }
    .btn:hover, .btn:focus {
        border: 1px solid #333;
        background-color: #fff;
        color: #000;
    }

    </style>
    </head>
    <!-- Navigation bar -->
    <body>
        <ul>
        <li><a class = "home" href = "{{ url_for('home') }}">Home</a></li>
        <li><a class="click" href="{{ url_for('click') }}">Map</a></li>
        <li><a class="rank" href="{{ url_for('rank') }}">Rank</a></li>
        <li><a class="active" href="{{ url_for('calendar') }}">Calendar</a></li>
        </ul>
    </body>
    <!-- Calendar input for the date and drop down list for topics -->
<body>
    Date: <input type="date" id="date1" value="2017-01-01"min="2017-01-01" max="2017-12-31">
    <select id="category1" name="Categories" value="Categories">
        <option value="business">Business</option>
        <option value="entertainment">Entertainment</option>
        <option value="politics">Politics</option>
        <option value="sport">Sport</option>
        <option value="tech">Technology</option>
      </select>
    <!-- Button to map articles-->
    <button onclick="myFunction()">Map me</button>
    <h3 style="display:inline-block;"> {{date_id}}     {{category_id}}  </h3>
    <div id="mapdiv" style="float: right; width: 100%; height: 100%; ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script> 
    <script>
    //function to map articles based on date and category
    function myFunction() {
        var date = document.getElementById("date1").value
        var category = document.getElementById("category1").value
        window.location = ("http://127.0.0.1:8080/calendar?date=" + date + "&category=" + category)
        }
    var map;

            //function for the OpenLayers map
            function init(){
                map = new OpenLayers.Map("mapdiv");
                map.addLayer(new OpenLayers.Layer.OSM());
                
                epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
                projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
            
                var lonLat = new OpenLayers.LonLat( -0.21279688 ,21.5077286 ).transform(epsg4326, projectTo);
                    
                var zoom=3;
                map.setCenter (lonLat, zoom);

                var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
                
                //filling each of the variables with variables from flask
                var lat = [];
                var lon = []; 
                var url = [];
                var place = [];
                var artID = []
                

                {% for latitude in lat %}
                    coordinateLat = {{ latitude  }}
                    lat.push(coordinateLat)    
                {% endfor %}

                {% for longitude in lon %}
                    coordinateLong = {{ longitude  }}
                    lon.push(coordinateLong)    
                {% endfor %}

                {% for site in url %}
                    coordSite = {{ site  }}
                    url.push(coordSite)    
                {% endfor %}

                {% for name in place %}
                    coordPlace = {{ name | tojson }}   
                    place.push(coordPlace)    
                {% endfor %}

                {% for id in artID %}
                    IDPlace = {{ id }}   
                    artID.push(IDPlace)
                    link = "http://127.0.0.1:8080/related?ID=" + IDPlace    
                {% endfor %}

                var date 
                date = {{date_id | tojson}}

                var category 
                category = {{category_id | tojson}}

                //Loop through the markers array setting the location of markers and their URL with the place name
                for (var i=0; i<lat.length; i++) {
                    
                    var feature = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point( lat[i], lon[i] ).transform(epsg4326, projectTo),
                        {description: '<a href="http://127.0.0.1:8080/country3?Country=' + place[i] + '&Date=' + date + '&Category=' + category + '">' + place[i] + '</a>'},
                        {externalGraphic: href = '/static/marker.png', graphicHeight: 50, graphicWidth: 40, graphicXOffset:-12, graphicYOffset:-25  }
                    ); 
            

                    //feature.bindPopup(url[i]);
                vectorLayer.addFeatures(feature);

                }                        
                
                map.addLayer(vectorLayer);

                    //Add a selector control to the vectorLayer with popup functions
                    var controls = {
                selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
                };
                
                function createPopup(feature) {
                feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                    feature.geometry.getBounds().getCenterLonLat(),
                    null,
                    '<div class="markerContent">'+feature.attributes.description+'</div>',
                    null,
                    true,
                    function() { controls['selector'].unselectAll(); }
                );
                //feature.popup.closeOnMove = true;
                map.addPopup(feature.popup);
                }

                function destroyPopup(feature) {
                feature.popup.destroy();
                feature.popup = null;
                }
                
                map.addControl(controls['selector']);
                controls['selector'].activate();
                
                var click = new OpenLayers.Control.Click();
                map.addControl(click);
                click.activate();

            }

      

    function visitPage(){
        window.location= link;
    }



  </script>
  </div>
</body>

<!-- Loading the map -->
<body onload="init()">
    
    <div id="mapdiv"></div>

  </body>
    </body>
</html>