<html>
    <head><title>Mapping the News</title></head>
    <h1>Mapping the News</h1>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>

        body {
            font: 400 15px/1.8 Lato, sans-serif;
            color: #777;
        }
        ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
        li {
        float: left;
        border-right:1px solid #bbb;
        }
        li:last-child {
        border-right: none;
        }
        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        li a:hover:not(.active) {
        background-color: #B5D3E7;
        }

        .active {
            background-color: #89cff0;
        }
        .thumbnail {
            padding: 0 0 30px 0;
            border: none;
            border-radius: 0;
            bottom: 100;
            right: 0;
            width: 300px;
        }
        .thumbnail p {
            margin-top: 15px;
            color: #555;
        }
        .btn {
            padding: 10px 20px;
            background-color: #333;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
        }
        .btn:hover, .btn:focus {
            border: 1px solid #333;
            background-color: #fff;
            color: #000;
        }

        div.fixed {
            position: fixed;
            bottom: 100;
            right: 0;
            width: 300px;
            border: 3px solid #73AD21;
        }

        .hidden{
            display:none;
        }
        
        .unhidden{
            display:block;
        }


        </style>
        </head>
        <body>
            <ul>
            <li><a class = "active" href = "{{ url_for('home') }}">Home</a></li>
            <li><a class="click" href="{{ url_for('click') }}">Map</a></li>
            <li><a class="rank" href="{{ url_for('rank') }}">Rank</a></li>
            <li><a class="calendar" href="{{ url_for('calendar') }}">Calendar</a></li>
            </ul>
        </body>
  <body>
    <a> <br/> </a>
   <div class="row-text-center" id = "myDIV" align = "center">
    <a> <br/> </a>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/static/gazette.png"  width="100" height="100">
        <a> <br/> </a>
        <button class="btn" data-toggle="modal" data-target="#myModal" onclick="articles()">Articles</button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/static/clapperboard.png" width="100" height="100">
        <a> <br/> </a>
        <button class="btn" data-toggle="modal" data-target="#myModal" onclick="entertainment()">Entertainment</button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/static/soccer-ball-variant.png" width="100" height="100">
        <a> <br/> </a>
        <button class="btn" data-toggle="modal" data-target="#myModal" onclick="sport()">Sport</button>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="/static/bank.png"  width="100" height="100">
            <a> <br/> </a>
            <button class="btn" data-toggle="modal" data-target="#myModal" onclick="business()">Business</button>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="thumbnail">
            <img src="/static/debate.png" width="100" height="100">
            <a> <br/> </a>
            <button class="btn" data-toggle="modal" data-target="#myModal" onclick="politics()">Politics</button>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="thumbnail">
            <img src="/static/laptop.png" width="100" height="100">
            <a> <br/> </a>
            <button class="btn" data-toggle="modal" data-target="#myModal" onclick="technology()">Technology</button>
        </div>
        </div>
  </div>
  <div id = "Articles" class = hidden align = "center" style="font-size:150%;" >
    <script>
            var title = [];
            var primaryID = [];
            var url = [];
            var labels = [];
        
            {% for id in primaryID %}
                articleID = {{ id| safe }}
                primaryID.push(articleID)    
            {% endfor %}
        
            {% for name in title %}
                webTitle = '{{ name }}'
                title.push(webTitle)    
            {% endfor %}

            {% for category in labels %}
                labelTitle = '{{ category }}'
                labels.push(labelTitle)    
            {% endfor %}


            for (var i=0; i<title.length; i++) {
                link = "http://127.0.0.1:8080/map?PrimaryID=" + primaryID[i]
        
                 document.write('<a href=' + link + '>' + title[i] + ' ' + '<br /></a>')
        
            }
 
            </script>
  </div>
  <div id = "Sport" class = hidden align = "center" style="font-size:150%;" >
    <script>
            var title = [];
            var primaryID = [];
            var url = [];
            var labels = [];
        
            {% for id in primaryID %}
                articleID = {{ id| safe }}
                primaryID.push(articleID)    
            {% endfor %}
        
            {% for name in title %}
                webTitle = '{{ name }}'
                title.push(webTitle)    
            {% endfor %}

            {% for category in labels %}
                labelTitle = '{{ category }}'
                labels.push(labelTitle)    
            {% endfor %}

            for (var i=0; i<title.length; i++) {
                link = "http://127.0.0.1:8080/map?PrimaryID=" + primaryID[i]

                if(labels[i] == 'sport')
                    document.write('<a href=' + link + '>' + title[i] + ' ' +  '<br /></a>')
        
            }
 
            </script>
  </div>
  <div id = "Entertainment" class = hidden align = "center" style="font-size:150%;">
    <script>
            var title = [];
            var primaryID = [];
            var url = [];
            var labels = [];
        
            {% for id in primaryID %}
                articleID = {{ id| safe }}
                primaryID.push(articleID)    
            {% endfor %}
        
            {% for name in title %}
                webTitle = '{{ name }}'
                title.push(webTitle)    
            {% endfor %}

            {% for category in labels %}
                labelTitle = '{{ category }}'
                labels.push(labelTitle)    
            {% endfor %}

            for (var i=0; i<title.length; i++) {
                link = "http://127.0.0.1:8080/map?PrimaryID=" + primaryID[i]

                if(labels[i] == 'entertainment')
                    document.write('<a href=' + link + '>' + title[i] + ' '  + '<br /></a>')
        
            }
 
            </script>
  </div>
  <div id = "Business" class = hidden align = "center" style="font-size:150%;">
    <script>
            var title = [];
            var primaryID = [];
            var url = [];
            var labels = [];
        
            {% for id in primaryID %}
                articleID = {{ id| safe }}
                primaryID.push(articleID)    
            {% endfor %}
        
            {% for name in title %}
                webTitle = '{{ name }}'
                title.push(webTitle)    
            {% endfor %}

            {% for category in labels %}
                labelTitle = '{{ category }}'
                labels.push(labelTitle)    
            {% endfor %}

            for (var i=0; i<title.length; i++) {
                link = "http://127.0.0.1:8080/map?PrimaryID=" + primaryID[i]

                if(labels[i] == 'business')
                    document.write('<a href=' + link + '>' + title[i] + ' ' + '<br /></a>')
        
            }
 
            </script>
  </div>
  <div id = "Technology" class = hidden align = "center" style="font-size:150%;">
    <script>
            var title = [];
            var primaryID = [];
            var url = [];
            var labels = [];
        
            {% for id in primaryID %}
                articleID = {{ id| safe }}
                primaryID.push(articleID)    
            {% endfor %}
        
            {% for name in title %}
                webTitle = '{{ name }}'
                title.push(webTitle)    
            {% endfor %}

            {% for category in labels %}
                labelTitle = '{{ category }}'
                labels.push(labelTitle)    
            {% endfor %}

            for (var i=0; i<title.length; i++) {
                link = "http://127.0.0.1:8080/map?PrimaryID=" + primaryID[i]

                if(labels[i] == 'tech')
                    document.write('<a href=' + link + '>' + title[i] + ' '  + '<br /></a>')
        
            }
 
            </script>
  </div>
  <div id = "Politics" class = hidden align = "center" style="font-size:150%;">
    <script>
            var title = [];
            var primaryID = [];
            var url = [];
            var labels = [];
        
            {% for id in primaryID %}
                articleID = {{ id| safe }}
                primaryID.push(articleID)    
            {% endfor %}
        
            {% for name in title %}
                webTitle = '{{ name }}'
                title.push(webTitle)    
            {% endfor %}

            {% for category in labels %}
                labelTitle = '{{ category }}'
                labels.push(labelTitle)    
            {% endfor %}

            for (var i=0; i<title.length; i++) {
                link = "http://127.0.0.1:8080/map?PrimaryID=" + primaryID[i]

                if(labels[i] == 'politics')
                    document.write('<a href=' + link + '>' + title[i] + ' ' + '<br /></a>')
        
            }
 
            </script>
  </div>
  </body>
  <script>
      function articles() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("Articles");
    
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    y.className = "unhidden";
}

      function sport() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("Sport");
    
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    y.className = "unhidden";
}

      function entertainment() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("Entertainment");
    
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    y.className = "unhidden";
}
function business() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("Business");
    
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    y.className = "unhidden";
}

    function technology() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("Technology");
    
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    y.className = "unhidden";
}

      function politics() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("Politics");
    
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    y.className = "unhidden";
}
  </script>
</html>